.header {
	background-color: #c4e4ff;
	width: 100%;
	height: 9rem;
}

.header .container {
	display: flex;
	align-items: center;
	width: 20%;
	height: inherit;
}

.header .container .logo {
	width: 12.5rem;
	margin-left: 10px;
}

.deployments {
	font-size: 20px;
	margin-left: 5%;
	margin-top: 2%;
}

.k8simage {
	height: 40px;
	width: 40px;
}